backend/backend/__pycache__
backend/running_text_video_generator/__pycache__
backend/running_text_video_generator/entity/__pycache__
backend/running_text_video_generator/entity/.pytest_cache
backend/running_text_video_generator/migrations/__pycache__
venv